.list-group{
    visibility: hidden;
    position: absolute;
    top:55px;
    right: 0;
    width: 30%;
    height: 0px;
    transition:all 1s;
    overflow: hidden;
}
.list-group li {
  background : rgba(255, 255, 255, 0.5);
}
.list-show{
    visibility: visible;
    height: 400px;
    
}


.black-bg{
  visibility: hidden;
  opacity: 0;
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
  transition: all 1.2s;
}
.white-bg {
  width: 35%;
  background: white;
  border-radius: 5px;
  padding: 30px;
} 

.black-bg-show{
    visibility: visible;
    opacity: 1;
}

.main-hg{
    padding: 100px 20px;
    background:lightgray;
}
